<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>
    <div th:replace="fragments/header :: header" />
    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            <h2>Admin test page</h2>
        </div>
        <p class="lead" th:inline="text" th:utext="${userName}"></p>
        <p class="lead" th:inline="text" th:utext="${adminMessage}"></p>
        <p class="lead">All Users:</p>
        <tr th:each="user : ${allUsers}">
            <td><span th:text="${user.email}">Email</span></td>
            <td><span th:text="${user.name}">Name</span></td>
            <td><button type="button" class="btn btn-outline-success">Manage</button></td>
            <br>
        </tr>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-danger" name="register" type="Submit">Logout</button>
        </form>
    </main>
</body>

</html>