<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>
    <div th:replace="fragments/header :: header" />
    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            <div class="jumbotron">
                <h1 class="display-3">Hello.</h1>
                <p class="lead">Welcome to Human Resource Management System.</p>
                <a class="btn btn-lg btn-primary" th:href="@{/login}" role="button">Login »</a>
            </div>
        </div>
    </main>
</body>

</html>