<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>
    <div th:replace="fragments/header :: header" />
    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            <h2>Log in to your account.</h2>
        </div>
        <div>
            <div th:if="${param.error}">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post" class="form-signin">
                <fieldset>
                    <div class="form-group">
                        <input type="text" id="email" name="email" th:placeholder="Email" class="form-control"
                            required="true" autofocus="true" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" th:placeholder="Password"
                            class="form-control" required="true" autofocus="true" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" name="Submit" value="Login" type="Submit"
                            th:text="Login"></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>

</html>