<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css" />
</head>

<body>
    <div th:replace="fragments/header :: header" />
    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">
            <h2>Register your account.</h2>
        </div>
        <form autocomplete="off" action="#" th:action="@{/register}" th:object="${user}" method="post"
            class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                    <input type="text" id="name" th:field="*{name}" placeholder="Name" class="form-control input-lg"/>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
                    <input type="text" id="lastname" th:field="*{lastName}" placeholder="Last Name" class="form-control input-lg"/>
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                    <input type="text" id="email" th:field="*{email}" placeholder="Email" class="form-control input-lg"/>    
                </div>
                <div class="form-group">
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                    <input type="password" id="password" th:field="*{password}" placeholder="Password" class="form-control input-lg"/>    
                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <p class="text-success" th:inline="text" th:utext="${successMessage}"></p>
            </fieldset>
        </form>
    </main>
</body>

</html>